* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    gap: 30px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.headerLeft {
    display: flex;
}

.logo {
    padding: 20px 30px;
    border-right: 1px solid #ccc;
}

.textAdders {
    padding: 20px 30px;
}

.searchBox {
    display: flex;
    flex-grow: 1;
    background-color: #F8F8F8;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
}

.searchBox button {
    padding: 10px;
    border: none;
    background-color: transparent;
}

.searchBox input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
}

.searchBox input:focus {
    outline: none;
}

/* header buuton */

.headerBtn {
    display: flex;
    gap: 30px;
}

.headerBtn button {
    font-size: 18px;
    padding: 15px;
    border: none;
    margin-right: 40px;
    background-color: transparent;
}

.headerBtn button:last-child {
    font-weight: bold;
    border-radius: 5px;
    color: white;
    background-color: #72B75E;
}

.bannerSection {
    max-width: 1280px;
    margin: auto;
}

.bannerSection img {
    width: 100%;
}

/* orderSction */
.orderSection {
    max-width: 1280px;
    margin: auto;
    display: flex;
}

.orderItems {
    margin: 1%;
    flex-basis: 27%;
}

.orderItems img {
    width: 100%;
}

/* categroySection */

.categroySection {
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.categroyItems {
    flex-basis: 10%;
}

.categroyItems img {
    width: 100%;
}

/* productSection */
.productSection {
    max-width: 1280px;
    margin: auto;
}

.headingRow {
    width: 100%;
    display: flex;
    margin-top: 20px;
    /* align-items: center; */
    padding: 15px;
    justify-content: space-between;
}

.headingRow a {
    color: #72B75E;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 30px;
}

.productRow {
    display: flex;
    gap: 2%;
    ;
    flex-wrap: wrap;
}

.productItems {
    border: 1px solid #ccc;
    flex-basis: 15%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #ccc;
    padding: 15px;
}

.productImg {
    text-align: center;
}

.productImg>p {
    padding: 2px;
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    width: 70px;
    background-color: #F8F8F8;
    font-size: 12px;
    text-align: left;
}

.productContant h3 {
    margin: 20px 0;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
}

.productContant p {
    text-align: left;
    font-size: 15px;
    color: #58626d;
}

.productOut-line {
    align-items: center;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    /* padding: 15px 0; */
}

.productOut-line button {
    background-color: #F7FFF9;
    padding: 7px 15px;
    border: 1px solid #318616;
    border-radius: 10px;

}

/* footer */

footer {
    margin: 40px 0px 0px 0px;
}

.footer-mid {
    max-width: 1280px;
    margin: auto;
    padding: 15px;
}

.footer-Row1 {
    display: flex;
    width: 100%;
}

.footer-Row1-Left {
    flex-basis: 30%;
}

.footer-Row1-Left h3 {
    margin-bottom: 20px;
}

.useFullLinks {
    display: flex;
}

.useFullLinks ul {
    flex-basis: 33%;
    list-style: none;
}

.useFullLinks ul li a {
    margin-bottom: 15px;
    display: block;
    font-size: 14px;
    color: rgb(102, 102, 102);
}

.footer-Row2-Right {
    flex-basis: 70%;
}


.CategoriesHeadingRow {
    display: flex;
    align-items: center;
    gap: 40px;
}

.CategoriesHeadingRow {
    margin-bottom: 40px;
}

.CategoriesHeadingRow a{
    color: #318616;
}

.Footer-Links {
    display: flex;
}

.Footer-Links ul {
    flex-basis: 30%;
}

.Footer-Links li {
    list-style: none;
}

.Footer-Links ul li a {
    margin-bottom: 15px;
    display: block;
    font-size: 14px;
    color: rgb(102, 102, 102);
}

.footer-Row2{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    margin-top: 40px ;
    background-color: #FCFCFC;
}

.footer-Text p{
    flex-basis: 40%;
    font-size: 14px;
    color: #58626d;
}

.appIcon{
    gap: 15px;
    display: flex;
    flex-basis: 30%;
    align-items: center;
}

.appIcon h5{
    color: #58626d;
}

.socialLink{
    display: flex;
    gap: 10px;
}

.socialLink i{
    height: 40px;
    width: 40px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.footer-Row3 p{
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0;
    color: #58626d;
}